<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
   
<center>
    <h1>Recpitify</h1>
    <h2>Top Track Generator</h2>

    <p>this is the receipt page</p>

    <button onclick="showContent('medium_term_receipt')" class="generatePicButton">Medium Term Receipt</button>
    <!-- <button onclick="showContent('short_term_receipt')" class="generatePicButton">short Term Receipt</button> -->

      
</center>  
</body>
</html>